
<!-- Intro Section -->
  <%= render 'layouts/intro' %>
<!-- Intro Section  -->

<!-- About Section -->
  <%= render 'layouts/about' %>
<!-- About Section -->

<!-- Skills Section -->
  <%= render 'layouts/skills' %>
<!-- Skills Section  -->

<!-- Projects Snapshot -->
  <!-- <% render 'layouts/projects-snapshot' %> -->
<!-- Projects Snapshot -->

<!-- Contact Section -->
  <%= render 'layouts/contact' %>
<!-- Contact Section -->

<!-- Footer Section -->
  <%= render 'layouts/footer' %>
<!-- Footer Section -->

<!-- Background attribution -->
<!-- Thanks man! -->
  <!-- <a href='http://www.freepik.com/free-vector/soft-background-with-a-cute-blue-watercolor-stain_1064674.htm'>Designed by Freepik</a> -->
<!-- Attribution done! -->
